<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Collect Point</h1>
            <a href="#">Close</a>
        </div>
        <form action="/search-results">
            <label for="search">City ou State</label>
            <div class="search">
                <div class="search field">
                    <input 
                    type="text" 
                    name="search"
                    placeholder="City Search">
                    <button>
                        <img src="/assets/search.svg" alt="Search">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>